<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Register-Rankraze technologies </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body background="static/images/homebg.jpg" style="background-repeat: no-repeat;background-attachment: fixed;background-size: 100% 100%;">


    <section>
       

        <div class="contentbox">
            <div class="formbox">
                <h2>Registration</h2>
                <form action="" method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.username }}<br>
                    {{ form.email }}<br>
                    {{ form.password }}<br>
                    {{ form.submit }}<br>
                </form>
                <p>Already a member? <a href="{{url_for('login')}}">Login Now</a></p>

<!-- <div class="social-media">
                <P>Login with Social Media</P>
<div class="social">
    <i class="fa fa-facebook"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-instagram"></i>
    <i class="fa fa-whatsapp"></i>
</div>
</div> -->

            </div>
        </div>
 <div class="imgbox">
            <img src="static/images/signupbg.png">
        </div>
    </section>



</body>

</html>





<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <h1>SignUp</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        {{ form.username }}<br>
        {{ form.email }}<br>
        {{ form.password }}<br>
        {{ form.submit }}<br>
    </form>
    <a href="{{url_for('login')}}">Already have an account Login</a>
</body>
</html>